{{#each blog}}
<div class="blog-post">
 <h2 class="blog-post-title"><a class="blog" href="/blogs/{{slug}}">{{title}}</a></h2>
<div class="blog-post-meta"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
By <a href="/users/{{profile_id}}">{{first_name}} {{last_name}}</a></div>
<div class="blog-post-meta"><i class="fa fa-calendar" aria-hidden="true"></i>
{{published_date}}</div>

<div class="blog-post-meta"><i class="fa fa-tags" aria-hidden="true"></i> {{tags}}
</div>
<a href="/blogs/{{slug}}"><img src="{{image}}" alt="{{title}}"></a>
<div class="blog-post-entry">
<p>{{summary}}</p>
<hr>
<a class="read-more" href="/blogs/{{slug}}">READ MORE &raquo;</a>
</div>
</div><!-- /.blog-post -->
{{/each}}
