{{> header}}
<script type="text/javascript">
$(document).ready(function(){
  $('input.typeahead').typeahead({
    name: 'typeahead',
    remote: 'http://localhost:8080/search?key=%QUERY',
    limit: 10
  })
})
</script>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      {{> adminMenu}}
    </div>
    <div class="col-md-10">
      <h2>{{title}}</h2>
      {{#if errors}}
      <div class="alert alert-danger">
        <ul>
      {{#each errors}}
          <li>{{msg}}</li>
      {{/each}}
     </ul>
      </div>
  {{/if}}
      <form class="" action="/blog/add" method="POST"  enctype="multipart/form-data">
        <div class="form-group">
          <label>Title</label>
          <input type="text" name="title" value="{{title}}" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Image</label><br />
          {{#if image}}
          <img src={{image}} /><br />
          {{else}}
          <input type="file" name="image" size="50" class="form-control" >
          {{/if}}
        </div>
        <div class="form-group">
          <label>Summary</label>
          <textarea type="text" name="summary" value="" class="form-control"> {{summary}}</textarea>
        </div>
        {{> bodyInput}}
        <div class="form-group">
          <label>Tags</label>
          <input type="text" name="tags" value="{{tags}}" class="form-control">
        </div>
        <div class="form-group">
          <label>Author</label>
          <input class="typeahead tt-query" spellcheck="false" value="{{author}}" autocomplete="off" name="typeahead" type="text" />
        </div>
        <div class="form-group">
          <label>Published Options</label>
          <select name="status" class="form-control">
            {{#selectOption status}}
            <option value="Draft">Draft</option>
            <option value="Published">Published</option>
            <option value="Unpublished">Unpublished</option>
            {{/selectOption}}
          </select>
        </div>
        <div class="form-group">
          <label>Published Date</label>
          <input type="date" class="form-control" name="publishedDate" value="{{editFormat published_date}}">
        </div>
        <input type="submit" name="add" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </div>
</div> <!-- / .container -->
{{> footer}}
