{{> header}}
<div class="container">
      <div class="col-sm-8 blog-main">
        <div class="blog-post">
         <h2 class="blog-post-title">{{title}}</h2>
        <div class="blog-post-meta"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
        By <a href="/users/{{profile_id}}">{{first_name}} {{last_name}}</a></div>
        <div class="blog-post-meta"><i class="fa fa-calendar" aria-hidden="true"></i>
        {{published_date}}</div>

        <div class="blog-post-meta"><i class="fa fa-tags" aria-hidden="true"></i> {{tags}}
        </div>
        <img src="{{image}}" alt="{{title}}">
        <div class="blog-post-entry">
        <p>{{{body}}}</p>
        </div>
        </div><!-- /.blog-post -->
      </div>
      <div class="col-sm-4 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            {{> about_me}}
          </div>
          <div class="sidebar-module">
            {{> social_media}}
          </div>
      </div>
</div> <!-- / .container -->
{{> footer}}
