{{> header}}
<div class="container">
  <div class="col-md-12">
    <div class="blog-post">
      <h2 class="blog-post-title">{{title}}</h2>
      <div class="blog-post-entry">
        {{#if description}}
        <h2>Description</h2>
          {{{description}}}
          {{else}}
          {{/if}}
          {{#if goals}}
          <h2>Goals</h2>
          {{{goals}}}
          {{else}}
          {{/if}}
          {{#if requirements}}
          <h2>Requirements</h2>
          {{{requirements}}}
          {{else}}
          {{/if}}
          {{#if outcome}}
          <h2>Outcome</h2>
          {{{outcome}}}
          {{else}}
          {{/if}}
        </div>
      </div><!-- /.blog-post -->
    </div>
  </div> <!-- / .container -->
  {{> footer}}
